 /* Classes to make the transition if 
 about me , contact me , ... has been clicked
 */
 
.header-bg-email-transition{
  background-color : #f5cd79;
} 
.header-bg-aboutMe-transition {
  background-color : #2f3640;
}
.header-bg-contactMe-transition {
  background-color : #60a3bc;
}
.emial-placeholder-color-transition{
  color: #f7f1e3;
}
.contact-info{
  text-align: center;
  font-size: 150%;
  opacity : 0;
  position: absolute;
  left: 34.5vw;bottom: 0;
  width : 30vw;
  height : 20vh;
  color: #192a56;
  /* border : 1px solid black; */
  /* background-color: aqua; */
  transition: opacity 2s, transform 2s;
}
.contact-info-transition{
  opacity: 1;
  transform : translate(0,-17vh);
}
.contactMe-links-gmail{
  cursor: pointer;
  opacity : 0;
  position: absolute;
  left: 32vw;bottom: 0;
  width : 128px;
  height : 128px;
  /* border : 1px solid black; */
  /* background-color: aqua; */
  background-image : url(/assets/images/contactMe-gmail.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 2s, transform 2s;
}
.contactMe-links-telegram{
  cursor: pointer;
  opacity : 0;
  position: absolute;
  left: 44vw;bottom: 0;
  width : 128px;
  height : 128px;
  /* border : 1px solid black; */
  /* background-color: aqua; */
  background-image : url(/assets/images/contactMe-telegram.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 2s, transform 2s;
}
.contactMe-links-github{
  cursor: pointer;
  opacity : 0;
  position: absolute;
  left: 56vw;bottom: 0;
  width : 128px;
  height : 128px;
  /* border : 1px solid black; */
  /* background-color: aqua; */
  background-image : url(/assets/images/contactMe-github.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  transition: opacity 2s, transform 2s;
}
.contactMe-links-gmail:hover{
  opacity: 0.5;
}
.contactMe-links-telegram:hover{
  opacity: 0.5;
}
.contactMe-links-github:hover{
  opacity: 0.5;
}
.contactMe-links-transition {
  opacity: 1;
  transform: translate(0,-50vh);
}
.contactMeBtn {
  transition: opacity 2s,transform 2s 0.5s , font-size 0.2s 4s ease-in;
}

.subscribeBtn{
  transition: opacity 2s,transform 2s 0.5s , font-size 0.2s 4s ease-in;
}


.aboutMeBtn{
  transition: opacity 2s;
}
.subscribeBtn mat-icon{
  transition: opacity 2s 2s;
}
.subscribeBtn-transition{
  transform: translate(-40vw,27vh);
  font-size: 220%;
}
.contactMeBtn-transition{
  transform: translate(-5vw,5vh);
  font-size: 220%;
}

.subscribeBtn-transition mat-icon{
  opacity: 0;
}
.none { 
  display: none;
}
.email{
  position : absolute;
  z-index: 1000;
  left: 28vw;bottom : 0;
  /* border : 1px solid blue; */
  width: 40%;
  /* display: none; */
  opacity: 0;
  transition:  color 1s 1s,opacity 1s 0.5s,transform 1s 0.5s;
}
.email mat-form-field input{
  /* border : 1px solid blue; */
  min-height: 30px;
}
.email .placeholder{
  /* border : 1px solid red; */
  /* position: relative; */
  /* z-index: 1000; */
  /* top : -10px; */
  /* display: inline-block; */
  transition: color 2s 2.5s;
  margin-bottom: 20px;
  font-size: 160%;
}
.email mat-form-field{
  /* border : 1px solid yellow; */
  min-width :100%;
}
.email-transition{
  /* display: block; */
  opacity : 1;
  transform: translateY(-36vh);
}
.emailHasBeenSaved{
  /* border : 1px solid yellow; */
  color : #2C3A47;
  text-align : center;
  font-family: 'Lobster', cursive;
  font-size : calc(13px + 1.3vw);
}
.emailHasBeenSaved > button{
  /* border : 1px solid blue; */
  position: relative;
  top : -5px;
  animation: tap 1s ease-in-out 0.5s infinite;
}
@keyframes tap{
  from{
    transform: scale(1);
  }
  50%{
    transform:scale(1.7);
    color : #EA2027;
  }
  to{
    transform: scale(1);
  }
}
.cancelTransition{
  position : absolute;
  z-index: 1000;
  left: 0;top: 33vh;
  opacity: 0;
  transition: opacity 2s 0.2s,transform 1s 0.5s;
}

.cancelTransition button{
  transition: background-color 3s 2s;
}

.contactMeBtn-backBtn-transition{
  opacity: 1;
  transform: translate(74vw, -22vh);
}
.contactMeBtn-backBtn-transition button{
  background-color: #b71540;
}
.cancelTransition-transition{
  opacity: 1;
  transform: translateX(68vw);
}
.save-email-transition{
  opacity: 1;
  transform: translateX(61vw);
}
.cancelTransition-email-transition{
  opacity: 0;
  transform: translateX(150vw);
}
.cancelTransition-transition button{
  background-color: #b71540;
}
.aboutMe{
  position : absolute;
  z-index: 1000;
  /* border : 1px solid blue; */
  margin: auto;
  left: 0;right: 0;top: 20vh;bottom: 0;
  height : 20%;
  font-size : calc(14px + 0.5vw);
  line-height: 4vh;
  text-indent: 6px;
  width : 60%;
  transform: translateX(-30vw);
  opacity: 0;
  transition: opacity 1s 0.6s,transform 1s 0.6s ,color 2s 2s;
}
.bgImage{
  position : absolute;
  left: 0;top: 0;
  z-index: -1;
  /* border : 1px solid blue; */
  width : 100vw;
  height : 100vh;
  opacity : 0;
  transition: opacity 100s;
  background-image : url(/assets/images/glass.png);
  background-repeat: no-repeat;
  background-size : 100% 100%;
}

.header-transition{
  height:100vh;
  color :#ecf0f1;
}
.bgImage-transition{
  opacity : 1;
  z-index: 1000;
}

.aboutMeText-transition{
  opacity: 1;
  transform : translateX(10vh);
  color :#ecf0f1;
}

.avatar-transition {
  transform: translate(22vw,180px);
}
.writerName-transition{
  transform: translate(23vw,180px);

}

.avatar-transition-left {
  transform: translateX(-80vw);
}
.writerName-transition-left{
  transform: translateX(-80vw);

}

.avatar{
  transition: transform 2s;
}
.writerName {
  transition: transform 2s;
}
.links,.icon{
  transition: opacity 2s;
}
.seprator{
  transition: opacity 1s 2s;
}
.zero-opacity {
  opacity: 0;
}


header{
  background-color: #fff;
  display: grid;
  z-index: -2;
  /* grid-template-columns: 150px 0.5fr minmax(auto , 400px) 1fr; */
  grid-template-columns: 100px 3fr 2fr; 
  grid-template-rows: 110px 5px;
  /* width:100%; */
  height : 110px;
  /* background:red; */
  transition: height 2.5s,background-color 2s 2s,color 2s 2s;
  -webkit-transition: height 2.5s,background-color 2s 2s,color 2s 2s;
}


.links{
  display: grid;
  /* grid-template-columns: repeat(1fr , 3); */
  grid-auto-flow: column;
  justify-items: center;
  font-family: 'Lobster', cursive;
  font-size:120%;
  color:rgba(87, 84, 56, 0.993);
}
.links >div {
  /* margin:auto; */
  align-self: center;
  /* justify-self: start; */
  cursor: pointer;
}
.links div:first-child{
  justify-self: center;
}
.avatar{
  z-index: 1000;
  /* justify-self:center; */
  /* align-self: top; */
  position: relative;
  top : -11px;
  background-image : url(/assets/images/myAvatar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 19px;
  /* border: 1px solid yellow; */
  border-radius: 50%;
}
.icon{
  /* margin:auto; */
  display: none;
  justify-self: end;
  align-self:center;
  margin-right: 10%;
  cursor: pointer;

}
.nav-icons{
  justify-self: end;
  align-self:center;
  cursor: pointer;
}

.writerName{
  /* border: 1px solid yellow; */
  z-index: 1000;
  align-self: center;
  justify-self: start;
  font-family: 'Chicle', cursive;
  font-size:calc(16px + 0.5vw);
  
  /* background:red; */
}

.seprator{
  grid-column: 1/ -1;
    /* border: 1px solid yellow; */
    /* margin-top : 10px;
    height : 5px; */
  /* background:rgba(221, 205, 57, 0.63); */
}


@keyframes widening{
  from {
    width: 0px;
    height: 0px;
    transform: skew(90deg,0deg);
  }
  to{
    width : 100vw;
    height: 100vh;
    transform: skew(0deg,0deg);
  }
}
.navAnimations{
  position:absolute;
  margin : auto;
  left : 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1000;
  width: 0px;
  height: 0px;
  /* border:1px solid blue; */
  background : #e1b12c;

  animation: 1s widening;
  animation-fill-mode: forwards;
}


@media (min-width:600px){
  header{
    grid-template-columns: 150px 3fr 2fr; 
  }
}
@media (min-width:700px){
  header{
    grid-template-columns: 150px 2fr 3fr 1fr; 
  }
  .icon {
    display: block;
  }
}
@media (min-width:900px){
  header{
    grid-template-columns: 150px 1fr 2fr 1fr; 
  }
  
}