<!-- <div class="navAnimations"></div> -->

<header #header>
  <div class="bgImage" #bgImage>

  </div>

  <div class="avatar" #avatar>
    <!-- <img src="/assets/images/myAvatar.svg" alt="avatar picture of writer"> -->
  </div>
  <div class="writerName" #writerName>
    Sasan Kelishani
  </div>
  <div *ngIf="!isSmallScreen" class="links" #links>
    <div class='aboutMeBtn' (click)="openAboutMe()" #aboutMeButton>About Me</div>
    <div class='contactMeBtn' (click)="openContactMe()" #contactMeButton>Contact Me</div>
    <div class='subscribeBtn' (click)="openSubscribe()" #subscribeButton>
      <mat-icon>done_all</mat-icon> Subscribe
    </div>
  </div>
  <div (click)="toggleNav()" class='nav-icons' *ngIf="isSmallScreen">
    <!-- <mat-icon>view_headline</mat-icon> -->
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>view_headline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>work</mat-icon>About Me</button>
      <button mat-menu-item>
        <mat-icon>feedback</mat-icon>Contact Me</button>
      <button mat-menu-item>
        <mat-icon>done_all</mat-icon>Subscribe</button>
    </mat-menu>
  </div>
  <div class='icon' #icon>
    <mat-icon>search</mat-icon>
  </div>
  <div class="seprator" #seprator>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</header>
<div class="aboutMe" #aboutMe>
  Hi I’m Sasan Kelishani, a front-end web designer and mobile app developer using phone gap , ionic , angular. I’ve spent the
  last 4 years honing my skills in developing web apps and consider myself a forever student. I’m constantly learning web
  technologies and other design related topics, currently playing around with React , FP and Nodejs.
  <br><br> How I spend my days you asked ? Crafting websites , Exploring On Edge teches , Exercising
  <br>
  <br> Reach out to <span style='color : #C4E538'>sasan.kelishani@gmail.com</span> to connect!
</div>
<div (click)="cancelTransition()" class="cancelTransition" #cancelTranstion>
  <button mat-raised-button color='primary'>Back</button>
</div>
<div (click)="saveEmail()" class="cancelTransition" #saveEmail>
  <button mat-raised-button [style.backgroundColor]="'#009432'">Save</button>
</div>

<div class="contactMe-links-gmail" #contactMe_links_gmail (click)='openGmail()'></div>
<div class="contactMe-links-telegram" #contactMe_links_telegram (click)='openTelegram()'></div>
<div class="contactMe-links-github" #contactMe_links_github (click)='openGithub()'></div>
<div class="contact-info" #contact_info>
  <p>
    sasan.kelishani@gmail.com
  </p>
  <br>
  <br>
  <p>
    Phone : 09356087045
  </p>
</div>
<div class="email" #email>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      <mat-placeholder class="placeholder" #placeholder>Email</mat-placeholder>
      <mat-hint>myEmail@example.com</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>