<header (window:resize) = "onResize($event)">
  <div class="avatar">
    <img src="/assets/images/first.png" alt="avatar picture of writer">
  </div>
  <div class="writerName">
    Sasan Kelishani
  </div>
  <div *ngIf="!isSmallScreen" class="links">
    <div>About Me</div>
    <div>Contact Me</div>
    <div>Subscribe</div>
  </div>
  <div class='nav-icons' *ngIf="isSmallScreen">
    <mat-icon>home</mat-icon>
  </div>
  <div class='icon'>
    <mat-icon>search</mat-icon>
  </div>
  <div class="seprator"></div>
</header>
