<footer>
  <div class='me'>
    <mat-icon>school</mat-icon>
    Sasan Kelishani
  </div>
  <div class='quote'>We become what we think about</div>
  <div class="social-networks">
    <a href="https://plus.google.com/u/0/101021312938202667659">
      <img title='Gmail' src="/assets/images/gmail.png" alt='Gmail Icon'>
    </a>
    <a href="http://telegram.me/sc0d3r">
      <img title='Telegram' src="/assets/images/telegram.png" alt="Telegram icon">
    </a>
    <a href="https://github.com/SC0d3r">
      <img title='Github' src="/assets/images/github-box.png" alt="github icon">
    </a>
  </div>
  <div class='rights'>
    © 2018 Deigned by Kelishani
  </div>
</footer>