<div class="main">
  <div></div>
  <div class="content">
    <div class="arrowDown"></div>
    <div class="innerContent">
      <div class="image"></div>
      <div class="aboutMeText">
        Hi I’m Sasan Kelishani, a front-end web designer and mobile app developer using phone gap , ionic , angular.
        I’ve spent the last 4 years honing my skills in developing web apps and consider myself a forever student.
        I’m constantly learning web technologies and other design related topics, currently playing around with React and FP , Nodejs.
        <br>
        <br>
        How I spend my days you asked ? 
        Crafting websites , Exploring On Edge teches , Exercising
        <br>
        <br>
        Reach out to <span style='color : #C4E538'>sasan.kelishani@gmail.com</span> to connect!
      </div>
    </div>
    <div class="arrowUp"></div>
  </div>
  <div></div>
</div>