<div class="main">
  <div></div>
  <div class="content">
    <div class="arrowDown"></div>
    <div class="innerContent">
      <div class="image"></div>
      <div class="aboutMeText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque possimus similique corrupti quas veniam odit eos hic unde repellat voluptatem sint, inventore ab ipsa vero dolorem cumque esse sit? Eligendi, optio voluptatibus. Sapiente, a.</div>
    </div>
    <div class="arrowUp"></div>
  </div>
  <div></div>
</div>
