<header>
    <h2>Works And Projects</h2>
</header>
<main>
    

    <div *ngFor="let project of projects" class='item'>
      <!-- <div class='hover-link'>
        <mat-icon width='128px' height='128px'>link</mat-icon>
      </div> -->
      <div class='item-grid'>
        <div class='item-header'>
          <img src="/assets/images/{{project.img}}" alt="a picture for item">
        </div>
        <div class='item-text'>
          <h3>{{project.title}}</h3>
          <h4>{{project.description}}</h4>
        </div>
        <!-- <div class='details'>
          <div class='details-month'>
            Posted on Jan 3 , 2018
          </div>
          <div class='details-hour'>
            12:37pm
          </div>
        </div> -->
      </div>
    </div>
  
  </main>