<main>
  <div class='item'>
    <div class='item-header'>
        <img  src="/assets/images/space-art.jpg" alt="a picture for item">
    </div>
    <div class='item-text'>
      <h3>Space Art</h3>
      <h4>If there is space somewhere so there is art!</h4>
    </div>
  </div>

  <div class='item'>
    <div class='item-header'>
      <img src="/assets/images/creativity.jpg" alt="a picture for item">
    </div>
    <div class='item-text'>
      <h3>Creativity</h3>
      <h4>A guid to write efficient programs</h4>
    </div>
  </div>



</main>