<main>
  <div class='item'>
    <div class='hover-link'>
      <mat-icon width='128px' height='128px'>link</mat-icon>
    </div>
    <div class='item-grid'>
      <div class='item-header'>
        <img src="/assets/images/space-art.jpg" alt="a picture for item">
      </div>
      <div class='item-text'>
        <h3>Space Art</h3>
        <h4>If there is space somewhere so there is art!</h4>
      </div>
      <div class='details'>
        <div class='details-month'>
          Posted on Jan 3 , 2018
        </div>
        <div class='details-hour'>
          12:37pm
        </div>
      </div>
    </div>
  </div>

  <div class='item'>
    <div class='hover-link'>
      <mat-icon width='128px' height='128px'>link</mat-icon>
    </div>
    <div class='item-grid'>
      <div class='item-header'>
        <img src="/assets/images/creativity.jpg" alt="a picture for item">
      </div>
      <div class='item-text'>
        <h3>Creativity</h3>
        <h4>A guid to write efficient programs</h4>
      </div>
      <div class='details'>
        <div class='details-month'>
          Posted on Jan 3 , 2018
        </div>
        <div class='details-hour'>
          12:37pm
        </div>
      </div>
    </div>
  </div>
  <div class='item'>
    <div class='hover-link'>
      <mat-icon width='128px' height='128px'>link</mat-icon>
    </div>
    <div class='item-grid'>
      <div class='item-header'>
        <img src="/assets/images/Computer-Programmer.jpg" alt="a picture for item">
      </div>
      <div class='item-text'>
        <h3>You must know!</h3>
        <h4>What every computer programmer should know</h4>
      </div>
      <div class='details'>
        <div class='details-month'>
          Posted on Jan 3 , 2018
        </div>
        <div class='details-hour'>
          12:37pm
        </div>
      </div>
    </div>
  </div>
  

</main>