<div class="main">
  <div class="item">
    <div class="image robotics">
      <img class='none' src="/assets/images/wallE.png" alt="Image of WallE">
    </div>
    <div class="text">
      <h1>Robitics</h1>
      <small>Arduino , Raspberry Pi , Johnny Five</small>
    </div>
  </div>
  <div class="item">
    <div class="image webDev">
      <img class='none' src="/assets/images/webDev.png" alt="Image of WallE">
    </div>
    <div class="text">
      <h1>Web Development</h1>
      <small>Html , Css , javascript , sass , Ionic , Angular</small>
    </div>
  </div>
  <div class="item">
    <div class="image ai">
      <img class='none' src="/assets/images/ai.png" alt="Image of WallE">
    </div>
    <div class="text">
      <h1>Artificial intelligence </h1>
      <small>Deep learning</small>
    </div>
  </div>
</div>