<div class='main'>
  <div class="welcome">
    Welcome
  </div>
  <div class="quote">
      <!-- <mat-icon>format-quote</mat-icon> -->
      <i class="material-icons">&#xE244;</i>
      You’re right. I’m <sup>NOT</sup> perfect. But I’m <strong>Unique!</strong>
      <!-- <mat-icon>format-quote</mat-icon> -->
      <i class="material-icons">&#xE244;</i>
  </div>
</div>
<header class='typewriter'>
    <h2><span #spa class = 'anim' >Tech Lover , Web Enthusiast</span></h2>
    <h2 [style.display] = "shouldStart ? 'block' : 'none'"><span #span2 [class.anim] = "shouldStart" >Almost a Geek</span></h2>
    <h2 *ngIf="shouldStart2"><span [class.anim] = "shouldStart2" >Interests</span></h2>
</header>