.main{
  display: grid;
  /* border : 1px solid red; */
  position: fixed;
  width : 20.2%;
  /* position: -webkit-sticky;
  position: sticky; */
  /* top: 0px; */
  height: 100vh;
  background: #1e272e;
}
.author{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  /* border : 1px solid yellow; */
  padding-top : 10%;
}
.author a{
  text-decoration: none;
}
.author img{
  /* border : 1px solid yellow; */
  /* border-radius: 100%; */
  /* display: inline-block; */
  /* width: 128px;
  height: 128px; */
  max-width: 100%;
  padding-left : 12px;
  /* justify-self: center; */
}

.author .username{
  /* border : 1px solid black; */
  font-family: 'Chicle', cursive;
  font-size:calc(20px + 0.5vw);
  color : wheat;
}

.article-details{
  display: grid;
  /* border : 1px solid yellowgreen; */
  justify-content: center;
  padding : 10% 0;
  color : #8395a7;
}
.profile{
  /* border : 1px solid red; */
  margin-top : 5%;  
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.profile .smallScreen{
  display: none;
}
.profile nav{
  /* border : 1px solid yellowgreen; */
  /* grid-column: 1 / -1; */
  /* font-size : 120%; */
  display: grid;
  grid-row-gap: 20px;
  color : #F8EFBA;
}
.profile .meida{
  /* border : 1px solid red; */
  width : 58%;
  justify-items: center;
  /* padding : 0 2%; */
  /* align-self: center; */
  display: grid;
  /* grid-column-gap:%; */
  grid-template-columns:1fr 1fr 1fr;
  
}
.profile .meida img{
  cursor: pointer;

}
.profile .meida img:hover{
  opacity: 0.5;
}
.profile .meida #telegram{
  /* border : 1px solid blue; */
  margin-top : 4px;
}

nav.home-page{
  align-self: center;
  position: relative;
  top : -5%;
  color : #222f3e;/*#222f3e*/
  /* opacity: ; */
  /* border:1px solid yellow; */
  text-align: center;
}
nav.home-page button{
  transform: scale(2);
  align-self: center;
  justify-self: center;
  /* animation : 6s rotateMoveBackAndForth 1s infinite; */
}


@media (max-width : 1195px){
  .main {
    position: static;
    width : 100vw;
    height : 150px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 150px;
  }
  .author{
    /* border:1px solid yellow; */
    /* align-self: center; */
    grid-template-columns: 1fr 1fr;
    padding-top: 0px;
  }
  .author img{
    max-width: 80%;
  }
  .article-details{
    /* border:1px solid red; */
    align-self: center;
    padding: 0px;
  }
  .profile{
    /* border:1px solid blue; */
    margin-top : 0px;
    grid-template-rows: 1fr;
    grid-template-columns:1fr;
    justify-content: space-evenly;
  }
  .profile hr{
    display: none;
  }
  .profile nav{
    display: none;
  }
  .profile .smallScreen{
    display: grid;
    width : 90%;
    /* border : 1px solid yellowgreen; */
    grid-template-columns:1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    /* grid-column-gap: 10px; */
    
  }
  .profile .smallScreen > div{
    cursor: pointer;
    font-family: 'Lobster', cursive;
    font-size: 120%;
  }
  .profile .smallScreen > div:hover{
    opacity: 0.5;
  }
  .profile .meida{
    display: none;
  }
  nav.home-page{
    display: none;
  }
}

@media (max-width : 690px){
  .main {
    position: static;
    width : 100vw;
    height : 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
  }
  .author{
    /* grid-column-gap: 2vh; */
    /* border : 1px solid blue; */
    justify-items: normal;
  }
  .author img{
    max-width: calc(100px + 2vw);
    /* justify-self: center; */
  }
  .author a:first-child{
    text-align: center;
    /* border : 1px solid yellow;  */
  }
  .author .username{
    justify-self: start;
    align-self: start;
    /* border : 1px solid red;  */
  }
  .author a:last-child{
    /* justify-self: none; */
    /* ali */
    /* text-align: start; */
  }
}

@media (max-width : 390px){
  .profile .smallScreen{
    grid-template-columns: 1fr 1fr;
  }
  .profile .smallScreen > div:first-child
  {
    grid-column: 1 / -1;
  }
}

@keyframes rotateMoveBackAndForth{
  0%{
    transform: rotate(0deg);
    left : 0px;
  }
  50%{
    transform: rotate(360deg);
    left : 79%;
  }
  100%{
    transform: rotate(0deg);
    left : 0px;
  }
}

@media (max-width : 1140px){
  @keyframes rotateMoveBackAndForth{
    0%{
      transform: rotate(0deg);
      left : 0px;
    }
    50%{
      transform: rotate(360deg);
      left : 69%;
    }
    100%{
      transform: rotate(0deg);
      left : 0px;
    }
  }
  /* nav{
    border:1px solid yellow;
  } */
}

.glow {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: glow;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: glow;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

@keyframes glow {
  from { text-shadow: 0 0 0px #ff3f34; }
  to { text-shadow: 0 0 20px #ff3f34; }
}

