<main>
  <div class="author">
    <!-- <div class="authorImage"> -->
    <img src="/assets/images/avatar.png" alt="avatar image of the author" class="avatar">
    <!-- </div>    -->
    <div class="username glow">Sasan Kelishani</div>
  </div>
  <div class="article-details">
    Posted on Jan 3 , 2018
  </div>
  <div class="profile">
    <nav>
      <button mat-button>
        About Me
      </button>
      <hr>
      <button mat-button>
        Contact Me
      </button>
    </nav>

    <nav class="meida">
      <a href="https://plus.google.com/u/0/101021312938202667659">
        <img title='Gmail' src="/assets/images/gmail-white.png" width='38' height='38' alt='Gmail Icon'>
      </a>
      <a href="http://telegram.me/sc0d3r">
        <img id='telegram' title='Telegram' src="/assets/images/telegram-white.svg" width='32' height='32' alt="Telegram icon">
      </a>
      <a href="https://github.com/SC0d3r">
        <img title='Github' src="/assets/images/github-white.png" width='38' height='38' alt="github icon">
      </a>
    </nav>
  </div>
  <nav class='home-page'>
    <button mat-fab color="primary" (click)='goHomePage()'>
      <!-- <img src="/assets/images/home.png" alt="a picture of home"> -->
      <mat-icon>home</mat-icon>
    </button>
  </nav>
</main>