<main>
  <div class="author">
    <a [routerLink]="['/']">
      <img src="/assets/images/avatar.png" alt="avatar image of the author" class="avatar">
    </a>
    <a [routerLink]="['/']">
      <div class="username glow">Sasan Kelishani</div>
    </a>
  </div>
  <div class="article-details">
      Posted on {{articleDate}}
  </div>
  <div class="profile">
    <nav>
      <button (click)='openAboutMe()' mat-button>
        About Me
      </button>
      <hr>
      <button (click)='openContactMe()' mat-button>
        Contact Me
      </button>
    </nav>
    <nav class="smallScreen">
      <div (click)='openAboutMe()'>
        About Me
      </div>
      <div (click)='openContactMe()'>
        Contact Me
      </div>
      <div (click)='openSubscribe()'>
        Subscribe
      </div>
    </nav>
    <nav class="meida">
      <a href="https://plus.google.com/u/0/101021312938202667659">
        <img title='Gmail' src="/assets/images/gmail-white.png" width='38' height='38' alt='Gmail Icon'>
      </a>
      <a href="http://telegram.me/sc0d3r">
        <img id='telegram' title='Telegram' src="/assets/images/telegram-white.svg" width='32' height='32' alt="Telegram icon">
      </a>
      <a href="https://github.com/SC0d3r">
        <img title='Github' src="/assets/images/github-white.png" width='38' height='38' alt="github icon">
      </a>
    </nav>
  </div>
  <nav class='home-page'>
    <button mat-fab color="primary" (click)='goHomePage()'>
      <!-- <img src="/assets/images/home.png" alt="a picture of home"> -->
      <mat-icon>home</mat-icon>
    </button>
  </nav>
</main>