@import url('https://fonts.googleapis.com/css?family=Chicle');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('https://fonts.googleapis.com/css?family=Handlee');

@import url('https://fonts.googleapis.com/css?family=Pacifico');
*{
  margin:0px;
}
.main-container{
  display: grid;
  /* grid-template-areas:"header"
  "main sidenote"
  "footer"; */
  /* grid-template-columns: repeat(1fr,12); */
  grid-template-rows: 1fr repeat(auto-fill,1fr);
}