main{
  /* border : 1px solid blue; */
  display: grid;
  background:#ebebeb;
  /* background:linear-gradient(#ebebeb , white); */
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  /* text-align: center; */

}
main a{
  text-decoration: none;

}

header{
  font-size:calc(13px + 1.13vw);
  text-align: center;
  background-color:#f7f1e3;
  padding:5%;
  font-family: 'Pacifico', cursive;
  color:#3d3d3d;
}

.item{
  border:1px solid #d0d0d0;
  border-left:none;
  border-bottom:none;
  padding-top : 1vw;
  padding-bottom: 3vw;
  /* border:1px solid yellow; */
}

.item:first-child{
  border-top : none;
}

.item .settings {
  /* border:1px solid brown; */
  direction: rtl;
  padding-right : 1.2vw;
  margin-top : -2%;
  color: #303952;
}
.item-grid{
  display: grid;
  cursor: pointer;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.6fr;
  /* border:1px solid red; */
 
}

.item:hover {
  background-color:#f5f6fa;
  cursor: pointer;
}

.item-grid .item-header{
  /* border:1px solid yellow; */
  text-align: center;
  width:100%;
}

.item-grid .item-header img{
  height:196px;
  max-width: 90%;
}

 /* Item Text */

.item-grid .item-text{
  /* border:1px solid yellow; */
  display: grid;
  /* padding-left:7.6%; */
  padding-top:2%;
}

.item-grid .item-text h4{
  /* text-align: center; */
  margin-top:2.3%;
  font-family: 'Tajawal', sans-serif;
  font-size:110%;
  color:#57606f;
  /* border:1px solid red; */
  padding-left:5%;
  padding-right : 12px;
}

.item-grid .item-text h3{
  font-family: 'Sanchez', serif;
  color:#2f3542;
}

@media (max-width:480px){
  header{
    /* border: 1px solid black; */
    padding-top : 5vh;
    padding-bottom : 7vh;
  }
}
@media (min-width:740px){
  main{
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;

  }
  .item:nth-child(n+1):nth-child(-n+2){
    border-top : none;
  }
  .item-grid{
    text-align: start;
  }
  .item-grid .item-text{
    padding-left:7.6%;
  }
  .item-grid .item-text h4{
    padding-left: 0;
  }
}
@media (min-width:1200px){
  main{
    grid-template-columns: repeat(3,1fr);
  }
  .item:nth-child(n+1):nth-child(-n+3){
    border-top : none;
  }
}