<header>
    <h2>Works And Projects</h2>
</header>
<main>
    

    <div *ngFor="let article of articles" class='item' 
      (click) = "selectArticle(article.id)">
      <!-- <div class='hover-link'>
        <mat-icon width='128px' height='128px'>link</mat-icon>
      </div> -->
      <div class='item-grid'>
        <div class='item-header'>
          <img src="/assets/images/{{article.img.src}}" alt="{{article.img.alt}}">
        </div>
        <div class='item-text'>
          <h3>{{article.title}}</h3>
          <h4>{{article.body | slice:0:200}} ...</h4>
        </div>
        <!-- <div class='details'>
          <div class='details-month'>
            Posted on Jan 3 , 2018
          </div>
          <div class='details-hour'>
            12:37pm
          </div>
        </div> -->
      </div>
    </div>
  
  </main>