.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border:1px solid blue; */
  width : 100vw;
  height: 80vh;
  background-color:#ecf0f1;
}

.image{
  
  background-image: url(/assets/images/computer2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* height:65vh; */
  background-position-x: center;
  /* background-position-y: 25px; */
}
.image2{
  
  background-image: url(/assets/images/programmer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* height:65vh; */
  background-position-x: center;
  /* background-position-y: 25px; */
}
.image:hover{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.text{
  align-self: center;
  justify-self: center;
  padding:5%;
  font-size: 120%;
  line-height: 155%;
  color:wheat;
  text-align: center;
}



.text:hover{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}



.text--line {
  font-size: 0.5em;
}

svg {
  /* position: absolute; */
  /* align-self: start; */
  /* visibility: hidden; */
  width: 100%;
  height: 100%;
  /* border:1px solid yellow; */
}
svg text{
  
  font-size: 500%;
}
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #d61c59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #e7d84b;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #efeac5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1b8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
