<div class="main">
  <div class="image"></div>
  <!-- <div class="image2"></div> -->
    <div class="text">
       
        <svg viewBox="0 0 400 300">
            <symbol id="s-text">
              <text text-anchor="middle"
                    x="50%"
                    y="35%"
                    class="text--line"
                    >
                    Sasan
                  </text>
                  <text text-anchor="middle"
                  x="50%"
                  y="75%"
                  class="text--line2"
                  >
                  Kelishani
              </text>
              
            </symbol>
            
            <g class="g-ants">
              <use xlink:href="#s-text"
                class="text-copy"></use>     
              <use xlink:href="#s-text"
                class="text-copy"></use>     
              <use xlink:href="#s-text"
                class="text-copy"></use>     
              <use xlink:href="#s-text"
                class="text-copy"></use>     
              <use xlink:href="#s-text"
                class="text-copy"></use>     
            </g>
            
            
          </svg>

    <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis perspiciatis possimus dolor ipsa similique assumenda accusantium nobis, nihil optio? Nemo quidem beatae dolorum, in possimus earum harum quas a corporis alias cumque commodi delectus provident voluptatum nam iusto praesentium maiores eum voluptate dolor omnis dolore sunt, quis voluptatibus. Quam, provident voluptas. Officia fugiat itaque magnam distinctio dicta, facere dolor repellendus. -->
    </div>
</div>
