<article>
  <header>
    <img src="/assets/images/{{article.img.src}}" alt="{{article.img.alt}}">
    <h1>
      {{article.title}}
    </h1>
  </header>
  <div class="content">
    <p>
      <markdown>
        {{article.body}}
      </markdown>
    </p>
    <div class="feeback">
      <div class="voted" *ngIf='isVoted'>
        Thanks &nbsp;
        <button mat-icon-button color="accent">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </div>
      <div *ngIf='!isVoted'>
        Did you find this article usefull ?
        <button (click)='onVote("dislike")' mat-mini-fab [style.backgroundColor]="'#c23616'">
          <mat-icon>thumb_down</mat-icon>
        </button>
        <button (click)='onVote("like")' mat-mini-fab [style.backgroundColor]="'#44bd32'">
          <mat-icon>thumb_up</mat-icon>
        </button>
      </div>
    </div>


    <div class="comments">
      <header>
        Comments
      </header>
    </div>
    <br>
    <br>
    <disqus [identifier]="pageID"></disqus>
  </div>
</article>