
header{
  /* border:1px solid blue; */
  text-align: center;
  padding : 5% 0;
}
header img{
  /* border:1px solid blue; */
  height : 30vh;
  /* width : 40vw; */
  margin-bottom : 5%;
}
header h1{
  font-family: 'Lobster', cursive;
  font-size : 300%;
}
.content{
  /* border:1px solid red; */
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom:5%;
  
}
.content p {
  line-height: 165%;
  font-size: 110%;
  font-family: sans-serif;
  /* text-indent: 3%; */
}


.feeback{
  /* width : 60vw; */
  margin :  15px auto;
  font-family: 'Tajawal', sans-serif;
  font-size: 115%;
  /* border:1px solid red; */
  border-top:1px solid #ccc;
  /* border-bottom:1px solid #ccc; */
  padding: 2% 0;
  /* padding-left: 10%;  */
  /* padding-right: 10%; */
  /* padding-bottom:5%; */
}
.feeback button {
  margin: 0 5px;
}


.comments header {
  /* border : 1px solid yellow; */
  font-family: 'Pacifico', cursive;
  font-size:120%;
  text-align : left;
  color : #2C3A47;
  background : #CAD3C8;
  display: inline-block;
  padding: 3%;
  border-radius: 5px;
  /* padding-left : 1%; */
}

@media (max-width : 770px){
  article {
    width : 100vw;
  }
  .content{
    /* border:1px solid red; */
    padding-left: 4vw;
    padding-right: 4vw;
    /* padding-bottom:5%; */
    
  }

  
}

@media (max-width : 324px){
.content p {
    line-height: 165%;
    font-size: 105%;
  }
}